#formBasicLogin:focus, #formBasicPassword:focus {
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

label {
    font-weight: 500;
}

body {
    height: 100vh;
}

:root {
	--grey-bg:#f6f6f6;
}
