.general-data-selection {
    overflow-y: auto;
    height: 200px;
    border: 1px solid #ced4da;
}

.general-data-selection div {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

.general-data-selection div:hover {
    background: #dee2e6;
}