.home-cnt {
	margin: 2em;
	display: grid;
	grid-row-gap: 30px;
	grid-column-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
}

.home-cnt-header {
	margin-top: 0.8em;
}

.home-cnt button {
	width: 200px;
	height: 100px;
	color: #000;
	font-weight: 500;
}
