.home-cnt {
	margin: 2em;
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	justify-items: center;
}

.home-cnt button {
	width: 150px;
    height: 85px;
    color: #000;
    font-weight: 500;
}
