.input-width {
    width: 25vw;
}

.input-width-2 {
    width: 18vw;
}

.input-width-3 {
    width: 13vw;
}

.border-radius {
    border-radius: 0.25rem;
}

.btn-mrg-top {
    margin-top: 0.8em;
}

.btn-mrg-top-2 {
    margin-top: 1.75em;
}

.mrg-top {
    margin-top: 0.5em;
}

.mrg-top-2 {
    margin-top: 1.25em;
}

.mrg-top-3 {
    margin-top: 1.5em;
}

.mrg-bot {
    margin-bottom: 1.5em;
}

.mrg-left {
    margin-left: 0.75em;
}

.mrg-left-2 {
    margin-left: 1em;
}

.component-cnt {
    margin: 4.85vh 0;
}

.component-cnt h1 {
    margin-bottom: .85em;
}

.component-cnt-div {
    border: 1px solid #d0d0d0;
}

.component-width {
    width: 38vw;
}

.component-width-2 {
    width: 44vw;
}

.component-width-3 {
    width: 50vw;
}

.component-width-4 {
    width: 76.7vw;
}

.info-area {
    height: 100%;
}

.table-width {
    width: 80vw;
}

.doc-name-col-width {
    width: 22em;
}

.doc-employee-col-width {
    width: 10em;
}

.doc-note-col-width {
    width: 18em;
}

.spec-note-col-width {
	width: 25em;
}

.num-field-width {
    width: 200px;
}

.construction-name-col-width {
    width: 30em;
}

.st-construction-name-col-width {
    width: 25em;
}

.st-construction-other-col-width {
    width: 5em;
}

.profile-class-name-col-width {
    width: 40em;
}

/* Linked Doc */
.linked-doc-name-col-width {
	width: 35em;
}

/* General Data */

.selection-text p {
    padding: 0.5em;
}

.selected-bg {
    background: #ddd;
}

.general-data-selection {
    overflow-y: auto;
    /* height: 247px; */
    /* height: 206px; */
    height: 212px;
    border: 1px solid #ced4da;
}

.general-data-selection .selection-text {
    border-bottom: 1px solid #ccc;
}

.general-data-selection .selection-text:hover {
    background: #dee2e6;
}

.general-data-selection .selection-text.selected-bg:hover {
    background: #ddd;
}

.general-data-selection .selection-text .trash-area {
    padding: 0.5em;
}

.general-data-selection .selection-text .trash-area:hover {
    background: #ccc;
}

.selection-popup {
	width: 40vw;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -20vw;
	z-index: 500;
}

.table-popup {
    width: 40vw;
    height: 50vh;
    overflow-y: scroll;
	position: fixed;
	top: 33%;
	left: 50%;
	margin-left: -20vw;
	z-index: 500;
}

.table-popup table {
    height: 50vh;
}

.table-popup th {
    position: sticky;
    top: 0;
    background: #fff;
}

.tr-hover:hover {
    background: #ccc !important;
}

.general-data-selection .selection-text .check-area {
    padding: 0.5em;
}

/* Section */

.no-bot-mrg {
    margin-bottom: 0;
}

.form-group.no-bot-mrg {
    margin-bottom: 0;
}

.table.no-bot-mrg {
    margin-bottom: 0;
}

.form-control.auto-width {
    width: auto;
}

.flex-grow {
    flex-grow: 1;
}

.div-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-v {
	display: flex;
	flex-direction: column;
}

.flex-v-cent-h {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex {
	display: flex;
}

.flex-cent-v {
	display: flex;
	align-items: center;
}

.flex-bot-v {
	display: flex;
	align-items: flex-end;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.space-between-cent-v {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 1px solid grey;
}

.input-padding {
    padding: .5em;
}

.text-centered {
	text-align: center;
}

.full-height {
	height: 100vh;
}

.full-width {
	width: 100%;
}

.pointer {
	cursor: pointer;
	user-select: none;
}

.bold {
    font-weight: 500;
}

.white-bg {
	background: #fff;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
