.input-width {
    width: 25vw;
}

.input-width-2 {
    width: 18vw;
}

.input-width-3 {
    width: 13vw;
}

.border-radius {
    border-radius: 0.25rem;
}

.btn-mrg-top {
    margin-top: 0.8em;
}

.btn-mrg-top-2 {
    margin-top: 1.75em;
}

.mrg-top {
    margin-top: 0.5em;
}

.mrg-top-2 {
    margin-top: 1.25em;
}

.mrg-left {
    margin-left: 0.75em;
}

.component-cnt {
    margin: 4.85vh 0;
}

.component-cnt h1 {
    margin-bottom: .85em;
}

.component-cnt-div {
    border: 1px solid #d0d0d0;
}

.component-width {
    width: 38vw;
}

.component-width-2 {
    width: 44vw;
}

.info-area {
    height: 100%;
}

.table-width {
    width: 80vw;
}

.doc-name-col-width {
    width: 22em;
}

.doc-employee-col-width {
    width: 10em;
}

.doc-note-col-width {
    width: 18em;
}

/* Section */

.no-bot-mrg {
    margin-bottom: 0;
}

.form-group.no-bot-mrg {
    margin-bottom: 0;
}

.table.no-bot-mrg {
    margin-bottom: 0;
}

.form-control.auto-width {
    width: auto;
}

.flex-grow {
    flex-grow: 1;
}

.div-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-v {
	display: flex;
	flex-direction: column;
}

.flex-v-cent-h {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex {
	display: flex;
}

.flex-cent-v {
	display: flex;
	align-items: center;
}

.flex-bot-v {
	display: flex;
	align-items: flex-end;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.space-between-cent-v {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 1px solid grey;
}

.input-padding {
    padding: .5em;
}

.text-centered {
	text-align: center;
}

.full-height {
	height: 100vh;
}

.full-width {
	width: 100%;
}

.pointer {
	cursor: pointer;
	user-select: none;
}

.bold {
    font-weight: 500;
}

.white-bg {
	background: #fff;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
