.action-cell-width {
    width: 2em;
}

.note-cell-width {
    width: 25em;
}

.spec-table input[type='radio']:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    top: -4.5px;
    left: -6.5px;
    display: inline-block;
    background: #d1d3d1;
    /* border: 2px solid white; */
    transition: all .1s ease-in-out;
}

.spec-table input[type='radio']:checked:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    top: -4.5px;
    left: -6.5px;
    display: inline-block;
    background-color: #666;
    /* border: 2px solid white; */
}