.login-label-area {
	margin-bottom: 0.6em;
	font-size: 13px;
	color: #666;
	font-weight: bold;
}

.login-err-msg {
	padding: 1em;
	margin-bottom: 0.5em;
	background: #ffdce0;
	color: #90393c;
	font-weight: 600;
	font-size: 0.9em;
}
