.info-area {
	font-size: 16px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .1em .1em .1em .2em;
    /* border-radius: 2px; */
}

.label-mrgn-top-1 {
	margin-top: 1em;
}

.label-mrgn-top-2 {
	margin-top: 2em;
}

.data-section-label {
	margin-bottom: 2em;
	font-size: 18px;
}

.mrg-top {
    margin-top: 1em;
}
