.mark-data-cnt {
	margin: 10vh 0;
}

.info-area {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 0 .8em .3em 0;
    width: 100%;
    box-sizing: border-box;
}

.mark-data-cnt h1 {
	margin-bottom: 1em;
}

.mark-data-cnt button {
	font-size: 15px;
	background: #ededed;
	border: 1px solid #bdbdbd;
	padding: 0.75em;
}

.mark-data-cnt .mrg-bot {
	margin-bottom: 1em;
}

.mark-data-cnt .mrg-top {
	margin-top: 1em;
}

.section-label {
    margin: 1em 0;
    font-size: 18px;
}

.tabs {
	font-size: 0;
	width: 30vw;
}

.tabs > input[type='radio'] {
	display: none;
}

.tabs > div {
	border: 1px solid #d0d0d0;
	padding: 1.25em;
	font-size: 16px;
}

.tabs > label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #f5f5f5;
	border: 1px solid #d0d0d0;
	padding: 0.5em 0.75em;
	font-size: 16px;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
	top: 1px;
	width: 50%;
	box-sizing: border-box;
}

.tabs > label:not(:first-of-type) {
	border-left: none;
}

.tabs > input[type='radio']:checked + label {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.tabs button {
    width: 100%;
    margin-bottom: 1em;
}

@media (max-width: 1366px) {
	.tabs {
		width: 35vw;
	}
}

@media (max-width: 1200px) {
	.tabs {
		width: 40vw;
	}
}

@media (max-width: 992px) {
	.tabs {
		width: 45vw;
	}
}

@media (max-width: 768px) {
	.tabs {
		width: 50vw;
	}
}

@media (max-width: 576px) {
	.tabs {
		width: 55vw;
	}
}