.info-area {
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	padding: 0 0.8em 0.3em 0;
	width: 100%;
	box-sizing: border-box;
}

.label-mrgn-top-1 {
	margin-top: 1em;
}

.label-mrgn-top-2 {
	margin-top: 2em;
}

.data-section-label {
	margin-bottom: 2em;
	font-size: 18px;
}
